fastapi
uvicorn
python-jose
passlib[bcrypt]
python-multipart
jinja2
sqlalchemy
pydantic
python-dotenv
httpx
itsdangerous
aiosmtplib==5.0.0
openai==2.15.0
psycopg2-binary==2.9.11
python-telegram-bot
pydantic-settings==2.12.0
stripe
authlib
slowapi
sentry-sdk
